body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: gainsboro

a
  color: #00B7FF

.row
	margin-left: 0
	margin-right: 0

.navbar-default
	background-color: #444
	border-color: black

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
	color: #ffffff
	 background-color:#222

.navbar-default .navbar-nav > li > a
	color:  #ccc

a.navbar-brand
	color: #fff !important